/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent:transparent;

 --black-90: rgba(0,0,0,.9);
 --black-80: rgba(0,0,0,.8);
 --black-70: rgba(0,0,0,.7);
 --black-60: rgba(0,0,0,.6);
 --black-50: rgba(0,0,0,.5);
 --black-40: rgba(0,0,0,.4);
 --black-30: rgba(0,0,0,.3);
 --black-20: rgba(0,0,0,.2);
 --black-10: rgba(0,0,0,.1);
 --black-05: rgba(0,0,0,.05);
 --black-025: rgba(0,0,0,.025);
 --black-0125: rgba(0,0,0,.0125);

 --white-90: rgba(255,255,255,.9);
 --white-80: rgba(255,255,255,.8);
 --white-70: rgba(255,255,255,.7);
 --white-60: rgba(255,255,255,.6);
 --white-50: rgba(255,255,255,.5);
 --white-40: rgba(255,255,255,.4);
 --white-30: rgba(255,255,255,.3);
 --white-20: rgba(255,255,255,.2);
 --white-10: rgba(255,255,255,.1);
 --white-05: rgba(255,255,255,.05);
 --white-025: rgba(255,255,255,.025);
 --white-0125: rgba(255,255,255,.0125);

  --dark-red:  #e7040f;
  --red:  #ff4136;
  --light-red:  #ff725c;
  --orange:  #ff6300;
  --gold:  #ffb700;
  --yellow:  #ffd700;
  --light-yellow:  #fbf1a9;
  --purple:  #5e2ca5;
  --light-purple:  #a463f2;
  --dark-pink:  #d5008f;
  --hot-pink: #ff41b4;
  --pink:  #ff80cc;
  --light-pink:  #ffa3d7;
  --dark-green:  #137752;
  --green:  #19a974;
  --light-green:  #9eebcf;
  --navy:  #001b44;
  --dark-blue:  #00449e;
  --blue:  #357edd;
  --light-blue:  #96ccff;
  --lightest-blue:  #cdecff;
  --washed-blue:  #f6fffe;
  --washed-green:  #e8fdf5;
  --washed-yellow:  #fffceb;
  --washed-red:  #ffdfdf;

  --ufl-neutral-blue-2: #657e9a;
  --ufl-neutral-blue-1: #cbd3dd;
  --ufl-neutral-blue-3: #222b34;
  --ufl-neutral-orange-2: #ae7251;
  --ufl-neutral-orange-1: #e3cfc4;
  --ufl-neutral-orange-3: #3b271c;
  --ufl-primary-blue-3: #3b7cc4;
  --ufl-primary-blue-2: #6296d0;
  --ufl-primary-blue-1: #89b0dc;
  --ufl-primary-blue-4: #2f639d;
  --ufl-primary-blue-5: #234a76;
  --ufl-primary-orange-3: #d66629;
  --ufl-primary-orange-2: #de8554;
  --ufl-primary-orange-1: #e6a37f;
  --ufl-primary-orange-4: #ab5221;
  --ufl-primary-orange-5: #803d19;
  --ufl-neutral-brown: #CFB691;
  --ufl-neutral-green: #CFDBCB;
  --ufl-neutral-beige: #fff3cf;
  --ufl-neutral-gray: #B1B3B6;
  --ufl-bright-green: #5E8E3F;
  --ufl-bright-purple: #593674;
  --ufl-bright-orange: #FCAF17;
  --ufl-bright-red: #D7182A;
  --ufl-muted-blue: #4275A3;
  --ufl-muted-orange: #E28F41;
  --ufl-cyan: #A8DCD9;
  --ufl-green: #80BE63;
  --ufl-pale-green: #E0E5CD;
  --ufl-white: #f7f9fb;
  --ufl-black: #343a42;
  --ufl-blue: #00386c;
  --ufl-orange: #f37021;
  --ufl-light: #fcfbf8;
}
